body {
	background-color: darksalmon;
    font-family: sans-serif;
}
.container {
	width: 500px;
	height: auto;
	margin: auto;
    margin-top: 150px;
	display: flex;
	flex-direction: column;
	border: 1px solid darkslategray;
	background-color: darkslategray;
	border-radius: 8px;
	text-align: center;
}
.container h2 {
	color: white;
	text-shadow: 2px 2px 2px black;
}
#text {
	width: 200px;
	align-self: center;
	margin-bottom: 10px;
}
#send {
    align-self: center;
    background-color: darksalmon;
    color: darkslategray;
    font-weight: 700;
    border-radius: 5px;
}
#warn {
    padding: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-color: red;
    color: white;
    display: none;
    font-weight: 550;
    align-self: center;
    border-radius: 5px;
    font-family: cursive;
    font-style: italic;
    opacity: 65%;
}
#message {
    margin-top: 0;
    color: lightskyblue;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    font-family: monospace;
}